#wpbody-content {
    .layo-arnelio_section {
      .layo-arnelio_section__body {
        .layo-field {
          .field-arnelio-checkbox-multi {
          }
        }
      }
    }
  }
  
  #wpbody-content {
    .layo-arnelio_section {
      /////////////////////////////  Box default /////////////////////////////
      .text-bg-default {
        .layo-arnelio_section__body {
          .field-arnelio-checkbox-multi {
          }
        }
      }
  
      /////////////////////////////  Box primary /////////////////////////////
      .text-bg-primary {
        .layo-arnelio_section__body {
          .field-arnelio-checkbox-multi {
            .form-check-input:checked {
              border-color: lighten($primary, 10%) !important;
              outline: 2px solid rgba(#ffffff, 0.5) !important;
            }
          }
        }
      }
  
      /////////////////////////////  Box secondary /////////////////////////////
  
      .text-bg-secondary {
        .layo-arnelio_section__body {
          .field-arnelio-checkbox-multi {
            .form-check-input:checked {
              border-color: lighten($primary, 10%) !important;
              outline: 2px solid rgba(#ffffff, 0.5) !important;
            }
          }
        }
      }
    }
  }
  