{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage", // Se añaden solo los polyfills necesarios según el uso
        "corejs": "3.23" // Versión actualizada de core-js
      }
    ],
    "@babel/preset-react"
  ]
}